<html>
  <div class="wrapper">
    <h1>Go websockets Chat</h1>

    <div class="field">
        <label for="input-message">Message</label>
        <input id="input-message" type="text" size="40" />
    </div>

    <button onclick="send()">Send</button>
    <button onclick="connect()">Connect</button>
    <button onclick="disconnect()">Disconnect</button>
    <pre id="output"></pre>
  </div>
  <style>
    html {
      text-align: center;
      font-size: 16px;
    }
    div {
      padding: 1rem;
    }
    div.wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        gap: 10px;
    }
    #input {
      font-size: 16px;
    }
    p {
        font-size: 16px;
    }
  </style>
  <script>
    const inputMsg = document.getElementById("input-message");
    const output = document.getElementById("output");
    const EMAIL = `User_${crypto.randomUUID().slice(0, 10)}`
    let socket;

    // let socket = new WebSocket("ws://localhost:8080/api/v1/chats/connect-to-chat-2");

    // socket.onopen = function (e) {
    //     console.log('onOpen', e)
    //     output.innerHTML += "Status: Connected\n";
    // };

    // socket.onerror = function(e) {
    //     console.log('Socket error!', e)
    //     socket.close()
    // }

    // socket.onclose = function(e) {
    //     console.log('Socket closed!', e)
    //     output.innerHTML += "Status: Disconnected!\n";
    // }

    // socket.onmessage = function (e) {
    //     output.innerHTML += "\nServer: " + e.data + "\n";
    // };

    function connect() {
        socket = new WebSocket(`ws://localhost:8080/api/v1/chats/connect-to-chat-2?email=${EMAIL}`);

        socket.onopen = function (e) {
            console.log('onOpen', e)
            output.innerHTML += "Status: Connected\n";
        };

        socket.onerror = function(e) {
            console.log('Socket error!', e)
            socket.close()
        }

        socket.onclose = function(e) {
            console.log('Socket closed!', e)
            output.innerHTML += "Status: Disconnected!\n";
        }

        socket.onmessage = function (e) {
            output.innerHTML += "\nServer: " + e.data + "\n";
        };
    }

    function disconnect(){
        socket.close()
    }

    function send() {
      socket.send(JSON.stringify(
        { email: EMAIL, message: inputMsg.value }
      ));
      inputMsg.value = "";
    }
  </script>
</html>